body {
    background-color: black;
    font-family: "Lucida Handwriting", Times, serif;
}

h1{
    color: white;
    margin-top: 50px;
    margin-left: auto;
    margin-right: 350px;
    float: right;

    padding-right: 10px;
}

#logo{
    background-color: #FFE4B5;
    height: 100px;
    width: 800px;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    border: 5px outset green;
    border-radius: 10px;
}

#container1{
    background: url("");
    background-color: white;
    height: 800px;
    width: 1024px;
    margin-top: -10px;
    margin-left: auto;
    margin-right: auto;
    border: 5px groove blue;
}


#Bilden {
    margin-right: -0px;
    margin-left: -0px;
    margin-top: -220px;
    opacity: 0.5;
    filter: alpha(opacity=40);
    float: right;
    clear: both;

}

#content img {
    width: 80%;
    height: 520px;
    background-color: yellow;
    float: left;
}

#menu{
    width: 20%;
    height: 520px;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    background-color: salmon;
    float: right;
}

@media (max-width: 520px) {
    body {
        background-color: red;
    }
}

nav ul {
    list-style-type: none;
}

nav ul a {
    color: #000;
}

nav ul li {
    float: left;
    margin-left: 2em;
}

#kontakt {
    width: 800px;
    height: 90px;
    background-color: darkgreen;
    margin-right: auto;
    margin-left: auto;
    border-radius: 10px;
}

#grej {
    float: left;
}

#tider {
    width: 200px;
    float: left;
}
#nummer {
    width: 350px;
    float: right;
}
